*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes show {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1
    }
  }
  @keyframes showOF {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0
    }
  }
.conteiner{
    
    max-width: 1470px ;
    margin: 0 auto;
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        .card{
            border: 1px solid black;
            width: 320px;
            height: 400px;
            margin: 10px;
            .avatar{
                width: 300px;
                height: 300px;
                margin: 10px;
            }
            .nameAvatar{
                width: 90%;
                height: 80px;
                margin: 10px;
                margin-top: 0;
                text-align: center;
                padding: 20px;
                font-size: 24px;
            }
        }
    }
   
}

.cardModal{
    width: 80vw;
    height: 40vw;
    border: solid black 1px;
    margin: 15vh auto;
    border-radius: 5vw;
    background-color: white;
    display: flex;
   .img{
    width: 36vw;
    height: 36vw;
    margin: 2vw 3vw;
    border-radius: 2vw;
   
   }
}
.fonModal{
    animation: show 1s;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position:fixed;
    top: 0;
    left: 0;
}
.description{
    width: 36vw;
    height: 36vw;
    margin: 2vw 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
   div{
    width: 17vw;
    margin-top: 1vw;
    font-size: 2vw;
   }
   .big{
    font-size: 3vw;
    font-style: oblique;
}
}

#myBtn {
    display: none;
    width: 12vw;
    position: fixed;
    bottom: 2vw;
    right: 2vw;  
    border: none; 
    outline: none; 
    background-color: rgb(175, 175, 175);
   
    color: white;
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    transition-property: background-color;
    transition-duration: 1s;
    animation: show 1s;
}


#myBtn:hover {
    background-color: #555; 
    opacity: 1;
    transition-property: background-color;
    transition-duration: 2s;
}

html {
    scroll-behavior: smooth;
   
  }
  @media all and (max-width:340px){
    .conteiner{
        .content{
            .card{
                width: 280px;
                height: 380px;
                margin: 10px;
                .avatar{
                    width: 260px;
                    height: 280px;
                    margin: 10px;
                    img{
                        width: 260px;
                        height: 260px;
                    }
        }
    } 
        }
       
    }
    
  }
  @media (orientation: portrait) {
    .cardModal{
        
        width: 80vw;
        height: 90vh;
        border: solid black 1px;
        margin: 10vh auto;
        flex-direction: column;
        margin-top: 5vh;
       .img{
            width: 70vw;
            height: 70vw;
            margin: 5vw ;
            border-radius: 3vw;
       
       }
    }
    .description {
        margin-left: 5vw;
        width: 70vw;
        align-content: space-around;
        div{
            font-size: 3vw;
            margin-right: 1vw;
            width: 30vw;
            margin: 0;
        }
    }   
  }
  @media (orientation: portrait) and (max-width:600px){
    .cardModal{
        height: 70vh;
        margin-top: 15vh;
    }
  }
  @media (orientation: portrait) and (max-width:500px){
    .cardModal{
        height: 60vh;
        margin-top: 20vh;
    }
  }